*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    width: 100%;
    height: 100vh;
}
%bt{
    border: 2px solid white;
}
:root{
    font-size: 5px;
}
.sec1{
    width: 100%;
    height: 100%;
    background-image: url('../img/1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    // filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    >.box{
        width: 30%;
        height: 100px;
        backdrop-filter: blur(5px);
        border: 2px solid white;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      
        >a{
            color: white;
            text-decoration: none;
            text-transform: capitalize;
             border: 2px solid white;
             padding: 10px 5px;
             border-radius: 10px;
             font-size: 5rem;
             transition: 1s;
             &:hover{
                background-color: rgb(5, 199, 73);
                border: 2px solid rgb(5, 199, 73);
             }
        }
    }
    >.content{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(83, 79, 79, 0.822);
        visibility: hidden;
        opacity: 0;
        transition: 1s;
        z-index: 999;
        &:target{
            visibility: visible;
            opacity: 1;
        }
    
    >.popup{
         @extend %bt;
         width: 300px;
         height: 150px;
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        border-radius: 10px;
         position: fixed;
         top: 150px;
         left: 630px;
         background-color: rgb(240, 235, 235);
         z-index: 100;
         transition: 1s;
         transition-timing-function: ease;
         overflow: hidden;
         cursor: pointer;
        //  &:target{
        //     visibility: visible;
        //     opacity: 1;
        //  }
         &:hover>.pop1>div{
            margin-left: 81%;
            transform: translateX(-81%);
           }
           &:hover{
            width: 450px;
           }
         >.pop1{
           width: 100%;
           transition-duration: 1s;
           transition-timing-function: ease-in;
           cursor: pointer;
            >h2{
                font-size: 6rem;
                padding: 10px 20px;
                text-transform: capitalize;
            }
            >a{
                font-size: 5rem;
                color: rgb(255, 0, 0);
                text-decoration: none;
                position: absolute;
                font-family: 'Times New Roman', Times, serif;
                top: 0;
                right: 0;
                padding: 10px 10px;
                transition: 1s;
                &:hover{
                    color: green;
                }
            }
            >div{
                transition-duration: 2s;
                transition-property: margin-left;
                
            >h5{
                font-size: 3rem;
                color: black;
                padding: 0px 5px;
                line-height: 25px;
                padding-left: 10px;
                margin-left: -330%;
                text-transform: capitalize;
            }
        }
         }
    }
}
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 5vw;
    // padding-top: 40px;
    padding: 8px 5px;
    background-color: rgba(255, 166, 0, 0.793);
    border-radius: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 30px;
    left: 235px;
    cursor: pointer;
    transition: all 1s;
    &:hover{
        color: orangered;
        background-color: rgba(255, 255, 255, 0.428);
    }
}